@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

html, body {
  margin: 0;
  padding: 0;
  justify-content: center;   
  background-color: #230D46;
  background-attachment: fixed;
  font-family: 'Neucha', cursive;
}
button, input {
  outline: none;
}


